name: Docker CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set Image Tag
        run: echo "TAG=v1.0.${{ github.run_number }}" >> $GITHUB_ENV

      - name: Build Docker Image
        run: |
          docker build -t naik422002/my-first-repo:${{ env.TAG }} .
          docker tag naik422002/my-first-repo:${{ env.TAG }} naik422002/my-first-repo:latest

      - name: Push Docker Image
        run: |
          docker push naik422002/my-first-repo:${{ env.TAG }}
          docker push naik422002/my-first-repo:latest

      - name: Test Docker Image
        run: |
         docker run --rm naik422002/my-first-repo:${{ env.TAG }}    
